.ModalHeader {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .TitleWrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-left: 8px;

    .Icon {
      width: 20px;
    }

    .Title {
      font-size: 16px;
    }
  }

  .ActionButtonsWrapper {
    height: 100%;
    display: flex;

    .Button {
      display: flex;
      align-items: center;
      padding: 0 13px;
      cursor: default;

      &:hover {
        background-color: #ffffff44;
      }

      &:focus {
        background-color: #ffffff44;
      }

      &.Close {
        &:hover,
        &:focus {
          background-color: #e11b22;
        }
      }
    }
  }
}

.ContentWrapper {
  height: calc(100% - 40px);
}
