.Tabs {
  max-height: 100%;

  .List {
    display: flex;
    row-gap: 8px;
    column-gap: 8px;

    .Title {
      display: flex;
      padding: 4px 8px;
      border-radius: 4px;

      > img {
        width: 20px;
        margin-right: 8px;
      }

      &.Active, &:hover {
        background-color: #ffffff44;
      }

      &.Active:active {
        background-color: #ffffff44;
      }

      &:active {
        color: #ffffffcc;
        background-color: #ffffff22;
      }
    }
  }

  .Content {

  }

  &.Vertical {
    display: flex;

    .List {
      flex-direction: column;
    }
  }
}
